html {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: none;
}

body {
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
}

div {
    display: block;
}

nav {
    overflow: hidden;
    float: right;
    position: relative;
    right: 0;
    top: 0;
    background: #251603;
    color: #EBEBED;
    width: 100%;
}

nav li {
    float: right;
    list-style: none;
}

nav li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    color: #EBEBED;
}

nav li a:hover {
    color: #EBEBED;
}

#bg {
    width: 100%;
    height: 100%;

}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #251603;
    color: #EBEBED;
    width: 99%;
}

.image {
    position: relative;
    display: table-row;


}

#room1 {
    height: 33%;
    width: 33%;
}

#room2 {
    height: 33%;
    width: 33%;
}

#rest1 {
    height: 33%;
    width: 33%;
}
.maps {
    
}